{
  "realtimeInformation": "<key for: SL Realtidsinformation 4>"
  "locationLookup": "<key for: SL Platsuppslag>"
  "tripPlanner": "<key for: SL Reseplanerare 2>"
  "trafficSituation": "<key for: SL Trafikläget 2>"
  "disturbanceInformation": "<key for: SL Störningsinformation 2>"
}
