node_modules/
coverage/
lib/
test/
dist/test/
example/

example.coffee

.travis*
Gruntfile.coffee
Gruntfile.js

.git/
.gitignore
.gitattributes
.DS_Store
.jshintrc
.editorconfig
coffeelint.json
LICENSE

*.sublime-project
*.sublime-workspace
todo.md
