/node_modules/
/coverage/

.travis*
Changelog.md
Gruntfile.coffee
Gruntfile.js

src/
/out/bin/
/out/docs/
/out/test/

.git/
.gitignore
.gitattributes
.DS_Store
.jshintrc
.idea/

*.sublime-project
*.sublime-workspace
todo.md

